body {
    background: url(../assets/images/full-bloom.png);
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
  }
.banner{
    background-image: url(../assets/images/Cloudbank-min-top.jpg);
    background-size: cover;

}
.skills{
    font-weight: 700;
    padding: 15px; 
    margin: 50px;
}
.portfolio-card{
    height: auto;
    width: 100px;
}
.project-img{
    background-size: cover;
    height:200px;
    width:auto;
}
.content{
    background-color: whitesmoke;
}
#music-box{
    background-image: url(../assets/images/meistro.png);
}
#trophy-case{
    background-image: url(../assets/images/meistro.png);
}
#recipease{
    background-image: url(../assets/images/meistro.png);
}
#profile-img{
    background-image: url(../assets/images/Profile-pic.jpg);
    background-size: cover;
    position: relative;
    width: auto;
    max-width: 100%;
    height: 325px;
    z-index: 10000;
    border-radius: 50%;
  }