body {
    background: url(../assets/images/full-bloom.png);
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
}
a{
    color: #ee964a;
}
p{
    margin-top: 2rem;
}
#banner{
    background-color: #417ba0;
    /* background-image: url(../assets/images/Cloudbank-min-top.jpg); */
    background-size: cover;
    padding: 60px;
    font-size: 30px;
    border-bottom: 4px solid #ee964a;
    display: flex;
    align-items: center;
}
#about{
    padding:1rem;
    margin-top: 1rem;
}
#miestro-music-img{
    background-image: url(../assets/images/meistro.png);
}
#music-box-img{
    background-image: url(../assets/images/music\ box.png);
}
#trophycase-img{
    background-image: url(../assets/images/meistro.png);
}
#recipease-img{
    background-image: url(../assets/images/liri-demo-pic.png);
}
#profile-img{
    background-image: url(../assets/images/Profile-pic.jpg);
    background-size: cover;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: auto; */
}
#footer{
    padding: 1rem;
    background-color: #417ba0;
    text-align: center;
}
.social-icons{
    padding:1rem;
}
.orange-text{
    color: #ee964a;
}
.indigo-text{
    color: #417ba0;
}
.white-text{
    color: white;
}
.skills{
    font-weight: 700;
    padding: 15px; 
    margin: 50px;
}
.portfolio-card{
    padding: 1rem;
    height: auto;
    width: auto;
}
.profile-card{
    height: 320px;
    width: 320px;
    margin: auto;
}
.project-img{
    background-size: cover;
    height:300px;
    width:auto;
    margin: -1rem;
}
.content{
    background-color: whitesmoke;
}
