body {
    background: url(../assets/images/full-bloom.png);
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
  }
#banner{
    text-align: center;
    background-color: whitesmoke;
    /* background-image: url(../assets/images/Cloudbank-min-top.jpg); */
    background-size: cover;
    padding: 60px;
    font-size: 30px;
}
#banner:hover{
    background-color: darkslateblue;
}
#about{
    padding:5px;
}
#miestro-music-img{
    background-image: url(../assets/images/meistro.png);
}
#music-box-img{
    background-image: url(../assets/images/meistro.png);
}
#trophy-case-img{
    background-image: url(../assets/images/meistro.png);
}
#recipease-img{
    background-image: url(../assets/images/meistro.png);
}
#profile-img{
    background-image: url(../assets/images/Profile-pic.jpg);
    background-size: cover;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}
#footer{
    background-color: darkslateblue;
    text-align: center;
}
.orange-text{
    color: lightsalmon;
}
.indigo-text{
    color: darkslateblue
}
.whitesmoke-text{
    color: whitesmoke
}
.skills{
    font-weight: 700;
    padding: 15px; 
    margin: 50px;
}
.portfolio-card{
    height: auto;
    width: auto;
}
.profile-card{
    top:45px;
    height: 320px;
    width: 320px;
    margin: auto;
}
.project-img{
    background-size: cover;
    height:300px;
    width:auto;
}
.content{
    background-color: whitesmoke;
}
