 body {
    background: url(../images/full-bloom.png);
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
  }

  #header, #footer {
    background-color: grey;;
  }

  #profile-img{
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 10000;

  }

  #about-card{
    height: auto;
    width: auto;
    position: relative;
    top: 40%;
    right: 3%;
  }

  @media (max-width: 992px) {
    #profile-card {
      position: relative;
      width: 50%;
      top: 0;
    }

    #about-card {
      top: 0%;
      left: 0;
    }
  }
/*
.card-img {
  padding: 2% 2% 2% 0%;
  height: 150px;
    width:150px;
  }
  
  .footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    padding: 2%;
    border-top: 6px  #4aaaa5 solid;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  
  .name-email-box {
    width: 100%;
  }

  .message-box {
    width: 150px;
    height: 100px;
  }
  
  .submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 1% 2%;
    margin-top: 10px;
    border: none;
  }
  
  .item {
    display: inline-block;
    width: 250px;
    height: 160px;
    margin: 2%;
  }
  
  .item-label {
    background-color: #4aaaa5;
    color: #fff;
    position: relative;
    padding: 6% 0%;
    text-align: center;
    top: 95px;
  }
  
  .item-1 {
    background-image: url("../images/dominatehangman-1600.jpg");
  }
  
  .item-2 {
    background-image: url("../images/pixel-dragon.jpg");
  }
  
  .item-3 {
    background-image: url("../images/Red_Panda.jpg");
  }
  
  .item-4 {
    background-image: url("../images/tic-tac-toe.jpg");
  }
  
  .item-5 {
    background-image: url("../images/rock-paper-scissor.jpg");
  }
  
  .portfolio-img {
    background-size: cover;
  }
  
  /**/ 
  /*
  @media (max-width: 768px) {
    .card {
       width: 88%;
      }
      .item {
        width: 45%;
        height: 200px;
      }
      .item-label {
        top: 135px;
      }
    }
    
    @media (max-width: 640px) {
      .site-title {
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 0;
    }
    .nav {
      width: 100%;
      text-align: center;
      background-color: #ffffff;
      border-bottom: 1px #cccccc solid;
    }
    .card {
      margin: 14% 4.5%;
      padding: 5%;
    }
    .card-title {
      font-size: 36px;
    }
    
    .item {
      width: 94%;
      height: 300px;
      margin-top: 5%;
      
    }
    
    .item-label {
      top: 200px;
    }
    li {
      padding: 0 4%;
    }
    
    .submit {
      width: 100px; 
      height: 40px;
      font-size: 18px;
    }
    .portfolio-img {
      width: 94%;
    }
    .card-img {
      height: 100%;
      width: 100%;
    }
  } */ 
  
  